/* For Menu Page */


.menu {
    width: 25%;
    float: left;
    margin: 4%;
    text-align: center;
    font-size: 12px;
}


body {
  font-family: 'Open Sans', sans-serif !important;
}

#form1 {
  margin-left: 200px;
  margin-top: 60px;
}


header .right {
  float: right;
  margin: 0 10px 15px;
}


/* Header */
header {
  padding: 20px 0;
  height: 80px;
}
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header li {
  display: inline;
  vertical-align:middle;
}

header li a {
  margin: 0 10px;
}



footer {
  padding: 5px 15px;
  height: 80px;
}

